{% extends 'base.html' %}

 {% block content %}

  <h2>Create Task</h2>

  <form action="" method="POST" role="form" id="#form">
	{% csrf_token %}
	<label for="title"><h5>Title: </h5></label><br>
	<input type="text" id="title" name="title" maxlength="30"><br>
	<label for="description"><h5>Description:</h5></label><br>
	<textarea id="description" name="description" maxlength="150"></textarea><br>
	<div class="center">
	<input type="submit" name="button" class="btn button-main add submit-button" id="submit-button" value="Submit">
	</div>
  </form>

 {% endblock content %}